.relative {
  position: relative; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.d3-chart {
  margin-bottom: 1em; }

.d3-chart .data-point {
    stroke-width: 2px;
    stroke: white;
    cursor: pointer; }

.d3-chart .color-0 .line, .d3-chart .color-0.line {
    stroke: #041937; }

.d3-chart .color-0 .series-label, .d3-chart .color-0 .data-point {
    fill: #041937; }

.d3-chart .color-0.area-line {
    fill: rgba(4, 25, 55, 0.3); }

.d3-chart .color-1 .line, .d3-chart .color-1.line {
    stroke: #527E5A; }

.d3-chart .color-1 .series-label, .d3-chart .color-1 .data-point {
    fill: #527E5A; }

.d3-chart .color-1.area-line {
    fill: rgba(82, 126, 90, 0.3); }

.d3-chart .color-2 .line, .d3-chart .color-2.line {
    stroke: #C99140; }

.d3-chart .color-2 .series-label, .d3-chart .color-2 .data-point {
    fill: #C99140; }

.d3-chart .color-2.area-line {
    fill: rgba(201, 145, 64, 0.3); }

.d3-chart .color-3 .line, .d3-chart .color-3.line {
    stroke: #488ef2; }

.d3-chart .color-3 .series-label, .d3-chart .color-3 .data-point {
    fill: #488ef2; }

.d3-chart .color-3.area-line {
    fill: rgba(255, 255, 255, 0.3); }

.d3-chart .line {
    stroke-width: 2px;
    stroke: black; }

.d3-chart svg a, .d3-chart svg a:visited, .d3-chart svg a:active {
    text-decoration: none; }

.d3-chart svg.heading-info {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -2px; }

.d3-chart svg.heading-info text {
      font-size: 0.8em;
      /*transform: translate(4px,16px); */ }

.d3-chart svg path {
    fill: none; }

.d3-chart svg text {
    font-family: "Calluna W01", Georgia, "Times New Roman", "DejaVu Serif", serif; }

.d3-chart svg text.has-tooltip, .d3-chart svg text tspan.has-tooltip {
      cursor: pointer; }

.d3-chart svg text .info-mark, .d3-chart svg text.info-mark {
      font-size: 0.8em;
      font-weight: bold;
      fill: #767676; }

.d3-chart svg text.units, .d3-chart svg text.series-label {
      font-size: 12px;
      fill: #58585b; }

.d3-chart svg text.series-0 {
      fill: #041937; }

.d3-chart svg text.series-1 {
      fill: #527E5A; }

.d3-chart svg text.series-2 {
      fill: #C99140; }

.d3-chart svg .axis line, .d3-chart svg .axis path {
    stroke: #767676; }

.d3-chart svg .axis text {
    fill: #767676;
    font-size: 11px; }

.d3-chart svg .axis.repeated path.domain {
    display: none; }

.d3-chart svg .y-axis .domain {
    display: none; }

.d3-chart svg .y-axis .tick.zero text {
    font-weight: bold;
    fill: #041937; }

/* specific to the demo */

#forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#forms > div {
    width: 33%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    min-width: 150px; }

#forms > div input {
      top: 0; }

#forms > div label {
      margin-top: 0; }

.x-axis .tick:first-of-type {
  display: none; }

.data-point:first-of-type {
  display: none; }

.d3-tip.color-0 {
  border-color: #041937; }

.d3-tip.color-0:after {
    color: #041937; }

.d3-tip.color-1 {
  border-color: #527E5A; }

.d3-tip.color-1:after {
    color: #527E5A; }

.d3-tip.color-2 {
  border-color: #C99140; }

.d3-tip.color-2:after {
    color: #C99140; }

.d3-tip.color-3 {
  border-color: #488ef2; }

.d3-tip.color-3:after {
    color: #488ef2; }

/* d3-tip css TO DO  add as import or separate file */

.d3-tip {
  padding: 7px;
  background: rgba(255, 255, 255, 0.9);
  color: #58585b;
  opacity: 0;
  transition: opacity 0.5s linear;
  font-size: 75%;
  line-height: 120%;
  z-index: 9;
  max-width: 180px;
  border: 2px solid #767676; }

.d3-tip.label-tip {
    border-radius: 10px;
    padding: 4px 7px; }

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #58585b;
    position: absolute;
    pointer-events: none; }

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0;
    top: 100%;
    left: 0;
    text-align: center; }

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0;
    top: 50%;
    left: -8px; }

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center; }

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%; }
