//colors
$dark_gray: #58585b;
$a11y_gray: #767676;
$blue: #041937;
$green: #527E5A;
$gold: #C99140;
$serif: "Calluna W01",Georgia,"Times New Roman","DejaVu Serif",serif;


.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.d3-chart {
    margin-bottom: 1em;
    .data-point {
        stroke-width: 2px;
        stroke: white;
    }
    .color-0 {
        .line, &.line {
            stroke: $blue;
        }
        .series-label, .data-point {
            fill: $blue;
        }
        &.area-line {
            fill: rgba($blue, 0.3);
        }
    }
    .color-1 {
        .line, &.line {
            stroke: $green;
        }
        .series-label, .data-point {
            fill: $green;
        }
        &.area-line {
            fill: rgba($green, 0.3);
        }
    }
    .color-2 {
        .line, &.line {
            stroke: $gold;
        }
        .series-label, .data-point {
            fill: $gold;
        }
        &.area-line {
            fill: rgba($gold, 0.3);
        }
    }
    & .line {
        stroke-width: 2px;
        stroke: black;
    }
    svg {
        path {
            fill: none;
            

        }
        text {
            font-family: $serif;
            &.units, &.series-label {
                font-size: 11px;
                fill: $dark_gray;
            }
            &.series-0 {
                fill: $blue;
            }
             &.series-1 {
                fill: $green;
            }
             &.series-2 {
                fill: $gold;
            }
        }
        .axis {
            line, path {
                stroke: $a11y_gray;
            }
            text {
                fill: $a11y_gray;
            }
            &.repeated path.domain {
                display:none;
            }

        }
    }
}

/* specific to the demo */

.x-axis .tick:first-of-type {
    display: none;
}

.data-point:first-of-type {
    display: none;
}

.d3-tip.color-0 {
    border-color: $blue;
    &:after {
        color: $blue;
    }
}
.d3-tip.color-1 {
    border-color: $green;
    &:after {
        color: $green;
    }
}
.d3-tip.color-2 {
    border-color: $gold;
    &:after {
        color: $gold;
    }
}

/* d3-tip css TO DO  add as import or separate file */

.d3-tip {
    padding: 10px;
    background: rgba(255,255,255,0.9);
    color: $dark_gray;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity 0.5s linear;
    font-size: 75%;
    line-height: 120%;
    z-index: 9;
    width:33%;
    max-width: 200px;
    border: 2px solid $dark_gray;
    
    &:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: $dark_gray;
        position: absolute;
        pointer-events: none;
    }
    &.n:after {
        content: "\25BC";
        margin: -1px 0 0;
        top: 100%;
        left: 0;
        text-align: center;
    }
    &.e:after {
        content: "\25C0";
        margin: -4px 0 0;
        top: 50%;
        left: -8px;
    }
    &.s:after {
        content: "\25B2";
        margin: 0 0 1px 0;
        top: -8px;
        left: 0;
        text-align: center;
    }
    &.w:after {
        content: "\25B6";
        margin: -4px 0 0 -1px;
        top: 50%;
        left: 100%;
    }
}
