//colors
$dark_gray: #58585b;
$a11y_gray: #767676;
$blue: #041937;
$green: #527E5A;
$gold: #C99140;
$serif: "Calluna W01",Georgia,"Times New Roman","DejaVu Serif",serif;


.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.d3-chart {
    margin-bottom: 1em;
    & .line {
        stroke-width: 2px;
        stroke: black;
        &.line-0 {
            stroke: $blue;
        }
        &.line-1 {
            stroke: $green;
        }
        &.line-2 {
            stroke: $gold;
        }
    }
    svg {
        path {
            fill: none;
            

        }
        text {
            font-family: $serif;
            &.units, &.series-label {
                font-size: 11px;
                fill: $dark_gray;
            }
            &.series-0 {
                fill: $blue;
            }
             &.series-1 {
                fill: $green;
            }
             &.series-2 {
                fill: $gold;
            }
        }
        .axis {
            line, path {
                stroke: $a11y_gray;
            }
            text {
                fill: $a11y_gray;
            }
            &.repeated path.domain {
                display:none;
            }

        }
    }
}


